.edit-dialog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.edit-dialog {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
}


.edit-dialog h2 {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.edit-dialog label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.edit-dialog input {
    width: 95%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.edit-dialog-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.edit-dialog-buttons button {
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    font-size: 0.8rem;
    cursor: pointer;

}

.edit-dialog-buttons button:first-child {
    background-color: #007bff;
    color: white;
}

.edit-dialog-buttons button:last-child {
    background-color: #ccc;
}

.error{
    color: red;
}